html {
  font-family: "monospace" sans-serif serif;
  font-size: 18px;
}
/*Site-Container*/
.site-container {
  display: flex;
  width: 1920px;
}
/* Headercontainer/Header Navagation */
.header-container {
  display: block;
  width: 1920px;
  height:64px;
  background-color: white;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
}
.logo-image {
  display: flex;
  height: 1.5rem;
  font-size: 1.25rem;
  font weight: bold;
  color: black;
  }
/* Header-Navigation */
.nav-container {
  display: flex;
  width: auto;
  margin-left: auto;
}
.header-nav {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.header-nav span {
  align-content: center;
}
.header-nav span:hover {
  font-size: 2rem;
  color: white;
  background-color:  rgb(89, 89, 89);
  transition: font .750s ease-out .25s;
}
.header-nav span:visited {
  background-color: purple;
}
#stripe {
  width: 16px;
  height: 64px;
  background-color:  rgb(179, 218, 255);
}
/* Section-one-Banner */
.banners-container {
  display: flex;
  width: 1920px;
  height: auto;
  color: rgb(89, 89, 89);
  background-color: rgb(230, 230, 230);
}

.banner-column-one {
  display: flex;
  justify-content: flex-start;
  width: 1152px;
  height: auto;
  margin: 32px 24px;
  overflow: hidden;
}

.banner-column-two {
  display: flex;
  align-items: center;
  width: 768px;
  height: auto;
  margin-left: 12px;
}
.banner-column-two h1 {
  font-size: 3.5rem;
  font weight: bold;
}
.banner-column-two p {
  font-size: 2rem;
  font-weight: 500;
}
.start-here-btn {
  font-size: 2rem;
  color: white;
  font-weight; 600;
  text-align: center;
  background-color: rgb(89, 89, 89);
  margin: 1rem 1rem;
}
.start-here-btn:hover {
  font-size: 2.75rem;
  color: rgb(89, 89, 89);
  background-color: rgb(179, 218, 255);
  transition: font .750s ease-out .25s;
}
.start-here-btn:visited {
  background-color: purple;
}
/* Practice-container*/
.practice-container {
  display: flex;
  width: 1920px;
  height: auto;
  color: rgb(89, 89, 89);
  background-color: white;
}

/* Practice-Section/Column-one*/
.practice-column-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1152px;
  height: auto;
  margin: 32px 24px;
}
.practice-image-one {
  width: 1152px;
  height: auto;
  overflow: hidden;
}
.practice-image-one h1 {
  font-size: 3.5rem;
  font weight: bold;
}
.practice-image-one p {
  font-size: 2rem;
  font-weight: 500;
}

/* Practice-section/Column-two*/
.practice-column-two {
  display: flex;
  flex-direction: column;
  width: 768px;
  height:auto;
}
.information-box {
  display: flex;
  flex-direction: row;
  width: 768px;
  border: 1px solid rgb(234, 233, 232);
}
#last-box.information-box {
  background-color: rgb(230, 230, 230);
}
.image-box {
  display: flex;
  flex-direction: column;
  width: 268.80px;
  margin: 16px;
}
.text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  order: 2;
  width: 499.20px;
}
.image-one {
  display: flex;
  flex-direction: column;
  order: 1;
  margin: 30px 16px 16px 16px;
}
.image-two {
  display: flex;
  flex-direction: column;
  order: 1;
  margin: 16px;
}
.image-three {
  display: flex;
  flex-direction: column:
  order: 1;
  margin: 16px;
}
#read-more.btn {
  font-size: 18px;
  text-align: center;
  color: rgb(0,0,255);
  width: 115px;
  height: 40px;
  radius: 35%;
}
/*
div #read-more {
  font-size: 18px;
  color: rgb(0,0,255);
}*/
#read-more.btn:hover {
  font-size: 24px;
  color: white;
  background-color: rgb(150, 131, 120);
  transition: font .50s ease-out .500ms;
}
#read-more.btn:visited {
  color: rgb(128,0,128);
}
/* Section-three Start-learning */
.start-learning-container {
  width: 1920px;
  height: auto;
  color:rgb(89, 89, 89);
  background-color: rgb(230, 230, 230);
}
.start-learning-container h1 {
  font-size: 64px;
  margin-top: 32px;
  text-align: center;
}
.inner-boxes-container {
  display: flex;
  flex-direction: row;
}
 .first-column {
   display: flex;
   flex-direction:column;
 }
 .box-one {
   width: 570.65px;
   height: auto;
   margin: 32px 32px 32px 72px;
   border: 1px solid purple;
 }
 .image-box {
   margin-bottom: 16px;
 }
 .text-box h2 {
   margin: 16px 0px 8px 16px;
 }
 .text-box h3 {
   margin: 0px 0px 8px 16px;
 }
 .box-two {
   width: 570.65px;
   height: auto;
   margin: 32px 32px 32px 72px;
   border: 1px solid red;
 }
 .image-box {
   margin-bottom: 16px;
 }
 .text-box h2 {
   margin: 16px 0px 8px 16px;
 }
 .text-box h3 {
   margin: 0px 0px 8px 16px;
 }
 /*
 .second-column {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   width: 570.65px;
   height: auto;
   margin: 32px;
   border: 1px solid red;

 }
 .third-column {
   display: flex;
   flex-direction: column;
   width: 570.65px;
   height: auto;
   margin: 32px 0px 32px 32px;
   border: 1px solid limegreen;

 }
*/
