/* Universal Styles */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color:  #5e6063;
}

main {
  font-family: "Open Sans", sans-serif;
  position:relative;
  top: 4rem;
  color:  #5e6063;
}

section {
  width: auto 0;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color:  #5e6063;
  font-size: 1.25rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 2rem 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
}

h5, footer span {
  font-size: 0.8rem;
  color:  #5e6063;
}

p {
  line-height: 1.35;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
#sign-in {
  margin-right: 10px;
}
/* Beginning of site*/
/* Header Section */

header {
  background-color: white;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-bottom: .50rem;
  z-index: 10;
}

header img {
  height: 3rem;
  padding: 0 2% 0 1.5rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar {
  color: #ced3db;
}

.title-bar span {
  padding: 0;
  font-weight: bold;
  color: black;
}

/* Navigation */

nav {
  display: flex;
  align-self: center;
  font-weight:400;
}
nav.desktop a {
color: #55575b;
}
nav.desktop a:hover {
  font-size: 2rem;
  color: #55575b;
  text-decoration: none;
  background-color: #e3ebf7;
  transition: font 250ms ease-out 200ms;
}
nav.desktop a:visited {
  text-decoration: none;
  color: #55575b;
  background-color: #e5e6e8;
}
.desktop {
  display: inline-flex;
  align-items: center;
}
.stripe {
  width: 12px;
  height: 64px;
  background-color: #bbd3f9;
}
.mobile {
  display: none;
}

 /*Main Section section-one*/

 /*Start Banner */

 .landing-box {
   display: inline-flex;
   background-color: #e0e0e0;
 }

 .landing-box img {
   display: block;
   vertical-align: middle;
   width: 60%;
   margin: 2rem 2.5rem 2rem 1.5rem;
   repeat: no-repeat;
   flex-shrink: 0;
 }

 .landing-box h3 {
   margin: 1.5rem 0;
 }

 .right-side-text {
   display: inline-block;
   width: 30%;
   align-self: center;
   margin: auto;
   justify-content: center;
 }

 .landing-box p, .main-pic-box p {
   margin-bottom: 1.5rem;
 }

/* Start Here Buttom */

.start-btn {
  justify-content: center;
  width: 75%;
  background-color: #5e6063;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 0;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
  text-align: center;
}

.start-btn:hover {
  font-size: 2rem;
  background-color: #688ac1;
  color: black;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
  transition: color 400ms background-color 400ms;
}

/*Large Containers*/

.multi-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.main-pic-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-pic-box img, video {
  width: 100%;
  margin-bottom: 2rem;
}

.main-pic-box h2 {
  padding: 0 0 1.5rem 0;
}

#mobile-pic {
  display: none;
}

/* Small Containers */

.stacked-content-boxes {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  margin-top: 1rem;
  width: 40%;
  box-sizing: border-box;
}
 .content-box {
   display: inline-flex;
   border: 1px solid gray;
   margin: 1rem;
   flex-shrink: 1;
 }
 .content-box img {
   display: inline-flex;
   flex-direction: column;
   margin-right: 1rem;
   width: 35%;
   height: 42%;
 }

.content-box.side-text {
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 60%;
}

#lecture {
  background-color:  #e0e0e0;
}

a.read-more {
color: #1c6ced;
font-size: 1rem;
padding: 0;
}

a.read-more:hover {
font-size: 1.25rem;
color: white;
background-color:#616263;
border-radius: 10px;
padding: .25rem;
transition: color 100ms ease-in-out 50ms;
}

/*Courses*/
/*Section-three Start-learning*/

.courses {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-color: #e0e0e0;
}

.course-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.course-box {
  width: 30%;
  height: auto;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: white;
}

.courses h2, .course-box p, .thesis h2, .courses h4 {
  text-align: center;
  justify-content: center;
}

.course-box img {
  width: 100%;
}

.course-text {
  padding: 1rem 0 0 1rem;
  margin: 1.5rem auto;
}

/* Thesis Section */
.thesis.main-pic-box {
  padding: 1rem 1rem 1.5rem 1.5rem;
}

#fisma {
  background-color: #e0e0e0;
  margin-top: 2.8rem;
}

/* Footer-Section */

.footer-container {
  display: flex;
  width: 100%;
  height: auto;
  color:  #5e6063;
  background-color: white;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
}


.footer-content {
font-family: "Roboto", sans-serif;
color:  #5e6063;
padding: 2rem 2rem;
margin-bottom: 2rem;
}

.footer-content h3 {
  text-align: left;
}

.footer-content p {
  position: relative;
  top: 2rem;
  right: 2rem;
  font-weight: bold;
}

/*Tablet Settings*/

@media only screen and (max-width: 825px) {
  .landing-box img, .main-pic-box {
    width: 40%;
  }
 .landing-box.side-text, .stacked-content-box {
   width: 45%;

 }
 .course-box {
   width: 45%;
 }
}

/* Mobile Settings */

@media only screen and (max-width: 470px) {

  /*Do Not Display*/

  footer nav, .desktop, .logo, .information.main-pic-box,
  .thesis.stacked-content-box, .thesis p, .thesis h3, .course-box img,
  .course-box p, #pc-pic {
  display: none;
  }

/* Mobile Header */

.mobile {
  display: flex;
  justify-content: space-around;
  width:100%;
}

.mobile img {
  width: auto;
  height: 90%;
}

/* Mobile Start Banner */
.start {
  width: 100%;
  align-self: center;
}

.landing-box img {
  width: 90%;
  padding: 2rem 1rem;
  margin: auto;
}

.landing-box.side-text {
  width: 100%;
  padding: 0 1rem;
  margin: auto;
}

/* Mobile Campus Section */

.stacked-content-box, .content-box.side-text {
  width: 100%;
  background-color: white;
}

.content-box {
  display: flex;
  flex-flow: column;
}

#mobile-pic {
  display: block:block;
  box-sizing: border-box;
  padding: 1rem 1rem 1.5rem 1rem;
}

.content-box img {
  width: 100%;
  margin: auto;
  background-color: white;
}

.content-box.side-text {
  box-sizing: border-box;
  padding: 1rem;
}

.content-box a {
  font-size: 1rem;
}

/* Mobile Course Section */

.courses {
  border-top: 1px solid #8A97A8;
  border-bottom: 1px solid #8A97A8;
}

.course-container {
  flex-flow: column;
}

.course-box {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 0 0.5rem 0;
}

.course-text {
  padding: 1rem;
}

/* Mobile Thesis Section */

.thesis.main-pic-box {
  width: 100%;
  padding: 0 0 2rem 0;
}

video {
  margin: auto;
}

/* Mobile Footer */

h5 {
  margin: 1.5rem 0 0 0;
}
